.marquee-container {
    width: 100%;
    overflow: hidden; /* This is essential for the marquee effect */
    border: 2px solid #1D84C3;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marquee-animation 15s linear infinite;
}

.marquee-content:hover {
    animation-play-state: paused; /* Pause on hover */
}

.marquee-content span {
    font-size: 2em;
    padding: 0 0; /* Space between characters */
}

@keyframes marquee-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Scroll a full content length */
    }
}

body {
    margin: 0;
    font-family: monospace;
    color: #ff4d00;
    overflow: hidden; /* Hide horizontal scrollbar */
    background-color: rgb(33, 37, 41);
}

.fail {
  color: #b1060e;
  font-family: 'Poppins';
}
.gray {
  color: #1D84C3;
}

.blue {
  color: #ff4d00;
}

.cursor-bit {
  position: fixed;
  display: block;
  pointer-events: none;
  z-index: 100000;
  font-size: 30px;
  will-change: transform;
  top: 0;
  left: 0;
  color: #1D84C3;
  font-family: monospace;
}

.img-border {
  background-color: #fff;
  border: gray 2px solid;
}
